INSTALL
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache
config.guess
config.h*
config.log
config.status
config.sub
configure
*.edj
depcomp
install-sh
libtool
ltmain.sh
m4
missing
po/POTFILES
po/stamp-it
.deps
.libs
*.o
*.lo
*.la
stamp-h1
